[note-container]{
  background-color: #E1F4FE;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "\f005"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.6em; /* same as padding-left set on li */
}
