/* You can add global styles to this file, and also import other style files */
[window] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7EAED;
}
[text]{
  font-family: 'Roboto', sans-serif;
}
