<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EJS Engine</title>
</head>
<body>
<p>Image Upload</p>
<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="image" /><br /><br />
    <button type="submit" name="upload">Upload</button>
</form>
</body>
</html>
